body {
  font-family: Arial, Helvetica, san-sarif;
  font-weight: bold;
  padding:0; margin:0;
  background: black;
}

.wrapper{
  margin: 0 auto;
  width:100%;
  height:500px;
  background: #00aeef;
  overflow: hidden;

}

.fade {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  margin-top:400px;
  height: 100px;
  background: -webkit-linear-gradient(rgba(0,174,239,0), rgba(0,174,239,255));
  z-index: 100;
}
.view {
  -webkit-perspective: 520px;
  -webkit-perspective-origin-x: 400px;
  width: 800px;
  margin:0 auto;
  height: 1000px;
  position: relative;
}


ul {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.img {
  opacity:0;
  -webkit-animation: fadein 500ms $ease;
  -webkit-animation-delay:100ms;
  -webkit-animation-fill-mode:forwards;
  width:500px;
}
img {
  width:100%;
  height:auto;
  display: block;
}
