.slide {
  opacity:0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  color:white;
  width:1000px;
  font-size:100px;
  line-height: 1em;
}

.slide1 {
  -webkit-animation: slide1 500ms $ease 500ms;
  -webkit-animation-fill-mode:forwards;

  text-shadow: 0 1px 0 #ccc,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}
.slide6 {
  height:55px;
  font-size:50px;
  -webkit-animation: slide6 2s $easeOut 9s;
  text-align:center;
  -webkit-animation-fill-mode:forwards;
  overflow: hidden;
}


@-webkit-keyframes slide1 {
  0% {
    opacity:0;
    -webkit-transform: translate3d(-220px, 0px, -200px) rotateZ(0deg);
  }

  100% {
    opacity:1;
    -webkit-transform: translate3d(-220px, -220px, <?= $stop1Pos ?>) rotateZ(-12deg);
  }
}

@-webkit-keyframes slide6 {
  0% {
    opacity:0;
    -webkit-transform: translate3d(-70px, 120px, -9000px);
  }

  45%, 75% {
    opacity:1;
    height:55px;
    -webkit-transform: translate3d(-70px, -10px, -9000px);
  }

  100% {
    height:110px;
    opacity:1;
    -webkit-transform: translate3d(-70px, -70px, -9000px);
  }
}